.content-title {
    margin-left: 10vh;
    margin-bottom: 10vh;
}

.white-title {
    position: relative;
    font-family: 'OPTIBankGothic', sans-serif;
    font-style: normal;
    font-size: 3vw;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.light-blue-text {
    font-family: 'OPTIBankGothic', sans-serif;
    font-style: normal;
    font-size: 3vw;
    line-height: 85px;
    text-transform: uppercase;
    color: #30FAF7;
}
